<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 'Hello World'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea id provident rem quisquam aut, non, ipsum quod
        sapiente ducimus, dicta consequatur dolor cumque! Odit nihil ipsa sit illo nemo distinctio.</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad cum dicta quo inventore vel ab, iste debitis quidem
        possimus dolore id nostrum itaque. Fugiat ipsam harum cumque non sequi commodi.</p>
</body>

</html>